services:
  lawyers:
    build: .
    container_name: lawyers
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    restart: always
    networks:
      - webnet

networks:
  webnet:
    external: true
