@import "tailwindcss";
@import "tw-animate-css";

@theme {

  /* Брейкпоинты */

  --breakpoint-xs: 22.5rem;
  /* 360px  */
  --breakpoint-sm: 40rem;
  /* 640px */
  --breakpoint-md: 48rem;
  /* 768px  */
  --breakpoint-lg: 64rem;
  /* 1024px */
  --breakpoint-xl: 80rem;
  /* 1280px */
  --breakpoint-desk: 92.5rem;
  /* 1480px */

  /* Цвета */

  --color-green: #076955;
  --color-orange: #EC6421;
  --color-main: #3C3C3B;
  --color-grayLight: #B1B1B1;
  --color-grayDark: #868686;


  /* Текст */

  --text-10: 0.625rem;
  /* 10px */
  --text-12: 0.75rem;
  /* 12px */
  --text-14: 0.875rem;
  /* 14px */
  --text-16: 1rem;
  /* 16px */
  --text-18: 1.125rem;
  /* 18px */
  --text-20: 1.25rem;
  /* 20px */
  --text-22: 1.375rem;
  /* 22px */
  --text-24: 1.5rem;
  /* 24px */
  --text-26: 1.625rem;
  /* 26px */
  --text-28: 1.75rem;
  /* 28px */
  --text-30: 1.875rem;
  /* 30px */
  --text-32: 2rem;
  /* 32px */
  --text-34: 2.125rem;
  /* 34px */
  --text-36: 2.25rem;
  /* 36px */
  --text-38: 2.375rem;
  /* 38px */
  --text-40: 2.5rem;
  /* 40px */
  --text-42: 2.625rem;
  /* 42px */
  --text-44: 2.75rem;
  /* 44px */
  --text-46: 2.875rem;
  /* 46px */
  --text-48: 3rem;
  /* 48px */
  --text-50: 3.125rem;
  /* 50px */
  --text-52: 3.25rem;
  /* 52px */
  --text-54: 3.375rem;
  /* 54px */
  --text-56: 3.5rem;
  /* 56px */
  --text-58: 3.625rem;
  /* 58px */
  --text-60: 3.75rem;
  /* 60px */
  --text-62: 3.875rem;
  /* 62px */
  --text-64: 4rem;
  /* 64px */
  --text-66: 4.125rem;
  /* 66px */
  --text-68: 4.25rem;
  /* 68px */
  --text-70: 4.375rem;
  /* 70px */
  --text-72: 4.5rem;
  /* 72px */
  --text-74: 4.625rem;
  /* 74px */
  --text-76: 4.75rem;
  /* 76px */
  --text-78: 4.875rem;
  /* 78px */
  --text-80: 5rem;
  /* 80px */
  --text-82: 5.125rem;
  /* 82px */
  --text-84: 5.25rem;
  /* 84px */
  --text-86: 5.375rem;
  /* 86px */
  --text-88: 5.5rem;
  /* 88px */
  --text-90: 5.625rem;
  /* 90px */
  --text-92: 5.75rem;
  /* 92px */
  --text-94: 5.875rem;
  /* 94px */
  --text-96: 6rem;
  /* 96px */
  --text-98: 6.125rem;
  /* 98px */
  --text-100: 6.25rem;
  /* 100px */

  /* Отступы */

  --spacing-2: 0.125rem;
  /* 2px */
  --spacing-4: 0.25rem;
  /* 4px */
  --spacing-6: 0.375rem;
  /* 6px */
  --spacing-8: 0.5rem;
  /* 8px */
  --spacing-10: 0.625rem;
  /* 10px */
  --spacing-12: 0.75rem;
  /* 12px */
  --spacing-14: 0.875rem;
  /* 14px */
  --spacing-16: 1rem;
  /* 16px */
  --spacing-18: 1.125rem;
  /* 18px */
  --spacing-20: 1.25rem;
  /* 20px */
  --spacing-22: 1.375rem;
  /* 22px */
  --spacing-24: 1.5rem;
  /* 24px */
  --spacing-26: 1.625rem;
  /* 26px */
  --spacing-28: 1.75rem;
  /* 28px */
  --spacing-30: 1.875rem;
  /* 30px */
  --spacing-32: 2rem;
  /* 32px */
  --spacing-34: 2.125rem;
  /* 34px */
  --spacing-36: 2.25rem;
  /* 36px */
  --spacing-38: 2.375rem;
  /* 38px */
  --spacing-40: 2.5rem;
  /* 40px */
  --spacing-42: 2.625rem;
  /* 42px */
  --spacing-44: 2.75rem;
  /* 44px */
  --spacing-46: 2.875rem;
  /* 46px */
  --spacing-48: 3rem;
  /* 48px */
  --spacing-50: 3.125rem;
  /* 50px */
  --spacing-52: 3.25rem;
  /* 52px */
  --spacing-54: 3.375rem;
  /* 54px */
  --spacing-56: 3.5rem;
  /* 56px */
  --spacing-58: 3.625rem;
  /* 58px */
  --spacing-60: 3.75rem;
  /* 60px */
  --spacing-62: 3.875rem;
  /* 62px */
  --spacing-64: 4rem;
  /* 64px */
  --spacing-66: 4.125rem;
  /* 66px */
  --spacing-68: 4.25rem;
  /* 68px */
  --spacing-70: 4.375rem;
  /* 70px */
  --spacing-72: 4.5rem;
  /* 72px */
  --spacing-74: 4.625rem;
  /* 74px */
  --spacing-76: 4.75rem;
  /* 76px */
  --spacing-78: 4.875rem;
  /* 78px */
  --spacing-80: 5rem;
  /* 80px */
  --spacing-82: 5.125rem;
  /* 82px */
  --spacing-84: 5.25rem;
  /* 84px */
  --spacing-86: 5.375rem;
  /* 86px */
  --spacing-88: 5.5rem;
  /* 88px */
  --spacing-90: 5.625rem;
  /* 90px */
  --spacing-92: 5.75rem;
  /* 92px */
  --spacing-94: 5.875rem;
  /* 94px */
  --spacing-96: 6rem;
  /* 96px */
  --spacing-98: 6.125rem;
  /* 98px */
  --spacing-100: 6.25rem;
  /* 100px */
  --spacing-110: 6.875rem;
  /* 110px */
  --spacing-120: 7.5rem;
  /* 120px */
  --spacing-140: 8.75rem;
  /* 140px */
  --spacing-160: 10rem;
  /* 160px */
  --spacing-180: 11.25rem;
  /* 180px */
  --spacing-200: 12.5rem;
  /* 200px */


  /* Скругления */

  --radius-10: 0.625rem;
  /* 10px */
  --radius-12: 0.75rem;
  /* 12px */
  --radius-14: 0.875rem;
  /* 14px */
  --radius-16: 1rem;
  /* 16px */
  --radius-18: 1.125rem;
  /* 18px */
  --radius-20: 1.25rem;
  /* 20px */
  --radius-30: 1.875rem;
  /* 30px */
  --radius-50: 3.125rem;
  /* 50px */
  --radius-100: 6.25rem;
  /* 100px */

}

.container {
  max-width: 92.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

html,
body {
  scroll-behavior: smooth;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

.hover-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 0.25rem;
  transition: text-decoration-color 0.25s ease;
}

.hover-link:hover {
  text-decoration-color: currentColor;
}

.custom-list li {
  position: relative;
  padding-left: 1rem;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6em;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #EC6421;
}

@media (max-width: 768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media(max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media(max-width: 576px) {
  .container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: calc(100vw / 120);
  }
}